.navbar {
  /* max-height: 13vh; */
  background-color: black;
}


.navbar_brand {
  /* max-height: 12vh; */
  /* min-height: 100%; */
  margin-left: 10vw;
}

.navbar_link {
  font-family: "Cabin Sketch",cursive;
  font-weight: 500;
  min-width: 9vw;
  font-size: 2vw;
  margin-right: 0.5rem;
}

.navbar_btn:hover {
  animation: bounce 1s infinite alternate;
  -webkit-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
  -moz-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
  animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;	
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
  }
  @-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}

.nav_links_all {
  margin-right: 10%;
}

@media only screen and (max-width: 767px) {
  .navbar_brand {
    max-height: 6vh;
    min-height: 6vh;
    height:6vh;
    margin-left: 3vw;
  }

  .navbar_btn {
    width: 70vw;
    font-size: 4.2vw;
    margin-bottom: 1vw;
  }

  .nav_links_all {
    margin-left: 3vw;
    margin-top: 2vw;
  }

}