.navbar {
  max-height: 13vh;
  background-color: black;
}


.navbar_img {
  max-width: 12vh;
  min-width: 100px;
  /* max-width: 10vh; */
  margin-left: 10%;
}

.navbar_btn {
  font-family: "Cabin Sketch",cursive;
  font-weight: 500;
  min-width: 9vw;
  font-size: 2vw;
}

.nav_links_all {
  margin-right: 10%;
}