.main {
  margin-top: 11vw;
  margin-bottom: 15vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bio{
  font-size: 2vw;
  text-align: justify;
  text-justify: inter-character;
  line-height: 1.5;
  color: #CCCCCC;
  letter-spacing: 2px;
  margin-bottom: 15vh;
}

.bio h2 {
  margin-bottom: 2vw;
  font-size: larger;
  font-weight: 500;
}

.bio h2 span {
  text-decoration: red line-through wavy;
}

.bio p {
  margin-bottom: 2vw;
  white-space: pre-wrap;
}

.bio ol {
  font-family: "Cabin Sketch",cursive;
  letter-spacing: normal;
  margin-bottom: 2vw;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 1.8vw; */
}

.bio img {
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2vw;
}

@media only screen and (max-width: 767px) {
  .bio{
    font-size: 3vh;
    letter-spacing: 2px;
    margin-bottom: 15vh;
  }
}