.sky{
  margin-top: 11vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  width: 60vw;
  height: 30vw;
  position: relative;
  background-color: #00ccff;
  overflow-x: hidden;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  /* padding: 1rem; */
  border: 0.5rem solid #dee2e6;
}
.clouds{
  position: absolute;
  top:5%;
  right: 0;
  height: 15%;
  width: 500%;
  max-width: 500%;
  background-image: url(/assets/img/clouds.png);
  background-repeat: repeat-x;
  animation: clouds 30s linear infinite;
  background-size:contain;
  background-position: top;
}
@keyframes clouds{

  100%{
    transform: translateX(2000px);
  }
}
.mountains{
  position: absolute;
  bottom:0px;
  right: 0;
  height: 50%;
  max-width: 500%;

  width: 500%;
  background-image: url(/assets/img/mountain.png);
  background-repeat: repeat-x;
  animation: mountains 10s linear infinite;
  background-size:contain;
  background-position: bottom;
}
@keyframes mountains{
  100%{
    transform: translateX(1975px);
  }
}

.airplane{
  top: 25%;
  left:50%;
  position: absolute;
  z-index: 1;
  width: 20%;
}
.airplane img {
  width: 100%;
}
  
.flame_down{
  position: absolute;
  top: 70%;
  left: 80%;
  height: 5%;
  width:30%;
  border-radius: 50%;
  background-color: #ffffff;
  animation: flame 0.3s linear infinite;
  z-index: -1;
}
.flame_up{
  top: 20%;
  left: 55%;
}
@keyframes flame{
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 767px) {
  .sky{
    margin-top: 12vh;
    width: 80vw;
    height: 40vw;
  }
}